name: build-ahk

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Prepare output dir
      shell: pwsh
      run: New-Item -ItemType Directory -Force -Path dist | Out-Null

    - name: Compile changed.ahk
      uses: cennis91/action-ahk2exe@main
      with:
        in: cmd/changed.ahk
        out: dist/kolemak-changed.exe
        icon: assets/icon.ico

    - name: Compile unchanged.ahk
      uses: cennis91/action-ahk2exe@main
      with:
        in: cmd/unchanged.ahk
        out: dist/kolemak-unchanged.exe
        icon: assets/icon.ico

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ahk-exe
        path: dist/*.exe

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          dist/kolemak-changed.exe
          dist/kolemak-unchanged.exe
